@model WebNTB.Models.BangTheoDoiToCat

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bảng theo dõi tổ cắt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BangTenMatHang.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BangTenMatHang.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLKeHoach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLKeHoach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThucHien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThucHien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuyKeThucHien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuyKeThucHien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DenBaoCapBTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenBaoCapBTP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
